body {
   margin: 5%;
   padding: 0;
   width: 100%;
   height: 100%;
   color: black;
   background-color: #e7f1e0;
   display: table;
   font-weight: 100;
   font-family: 'Lato';
}
.header-table {
   border:black 2px solid;
}
.header-input-title {
   width: 175px;
   color: white;
   background-color: #993514;
   Align:Center;
}
.parameter-table {
   border:black 2px solid;
}
.parameter-input-title {
   width: 175px;
   color: white;
   background-color: #993514;
   Align:Center;
}
.curl-output {
   width: 800px;
   height: 100px;
   background-color: #DCDCDC;
   overflow: scroll;
}
.regex-output-category {
   width: 300px;
   height: 400px;
   background-color: #dbd7ff;
   overflow: scroll;
}
.result-output td.title {
   text-align:center;
   width: 175px;
   color: white;
   background-color: #993514;
   Align:Center;
}
.result-output tr td.t1 {
   text-align:center;
   color: black;
   border-bottom-width: 2px;
   border-bottom-style: solid;
   border-right-width: 2px;
   border-right-style: solid;

}
.result-output tr td.t3 {
   text-align:center;
   color: black;
   border-bottom-width: 2px;
   border-bottom-style: solid;
}
