body {
   margin: 5%;
   padding: 0;
}

#select {
    width: 80px;
}
textarea {
    vertical-align:text-top;
    width:300px;
    overflow-y:visible;
    border:1px solid;

}
.panel-title {
    vertical-align:text-top;
}
.data-input-style {
   position: relative;
   min-height: 1px;
   padding-right: 30px;
}

.regex-output-category {
    vertical-align:text-top;
    text-align: right;
}
.result-output td.title {
   text-align:center;
   width: 175px;
   Align:Center;
}
.result-output tr td.t1 {
   text-align:center;
   /*color: white;*/
   border-bottom-width: 2px;
   border-bottom-style: solid;
   border-right-width: 2px;
   border-right-style: solid;

}
.result-output tr td.t3 {
   text-align:center;
   /*color: white;*/
   border-bottom-width: 2px;
   border-bottom-style: solid;
}
