<html>
    <head>
        <meta charset="utf-8">
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/darkly/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="public/css/main.css">
        <title>URL</title>
    </head>
    <body>
        <h1>Results Data</h1>
        {{ include('url-input.html') }}
        {% block content %}content{% endblock content %}
        {% block output %}output{% endblock output %}
        <script src="public/js/jquery-1.11.2.min.js"></script>
        <script src="public/js/main.js"></script>
    </body>
</html>
